<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FriendsImpression</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="css/css.css" media="screen" charset="utf-8">
  </head>
  <!-- FB SDK -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '385553301832213',
        xfbml      : true,
        version    : 'v2.8'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <body>
  </body>
</html>
